<a href="https://colab.research.google.com/github/chuviethongfpt/atom-assignments/blob/main/Project_Report_28062021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests #-> Để gọi API
import re #-> Để xử lý data dạng string
from datetime import datetime as dt #-> Để xử lý data dạng datetime
import gspread #-> Để update data lên Google Spreadsheet
from gspread_dataframe import set_with_dataframe #-> Để update data lên Google Spreadsheet
import pandas as pd #-> Để update data dạng bản
import json 
from oauth2client.service_account import ServiceAccountCredentials #-> Để nhập Google Spreadsheet Credentials
import os
import numpy as np

In [2]:
!ls

drive  project-cloud-function-316413-e8f7e070f21f.json	sample_data

In [3]:
## Authorize bằng JSON
scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']
credentials = ServiceAccountCredentials.from_json_keyfile_name(
    'project-cloud-function-316413-e8f7e070f21f.json', scope)
gc = gspread.authorize(credentials)
print("DONE!")

DONE!

In [4]:
#Get data from Google sheet
spreadsheet_key = '1kfakqgkjVmyHlgZfFIqitLi-A3lUr4KtZJUTwpXqV54' # input SPREADSHEET_KEY HERE
sh = gc.open_by_key(spreadsheet_key)
worksheet = sh.worksheet('customers') #-> 0 - first sheet, 1 - second sheet etc. 
customers = pd.DataFrame(worksheet.get_all_records())
customers #sheet 1

    CustomersId  Firstname         Lastname     Country   City           Phone
0             1      Maria           Anders  Bình Dương  Dĩ An     030-0074321
1             2        Ana         Trujillo  Bình Dương  Dĩ An    (5) 555-4729
2             3    Antonio           Moreno  Bình Dương  Dĩ An    (5) 555-3932
3             4     Thomas            Hardy  Bình Dương  Dĩ An  (171) 555-7788
4             5  Christina         Berglund  Bình Dương  Dĩ An   0921-12 34 65
..          ...        ...              ...         ...    ...             ...
86           87     Pirkko        Koskitalo  Bình Dương  Dĩ An      981-443655
87           88      Paula          Parente  Bình Dương  Dĩ An   (14) 555-8122
88           89       Karl        Jablonski  Bình Dương  Dĩ An  (206) 555-4112
89           90      Matti        Karttunen  Bình Dương  Dĩ An     90-224 8858
90           91    Zbyszek  Piestrzeniewicz  Bình Dương  Dĩ An   (26) 642-7012

[91 rows x 6 columns]

In [5]:
spreadsheet_key = '1kfakqgkjVmyHlgZfFIqitLi-A3lUr4KtZJUTwpXqV54' # input SPREADSHEET_KEY HERE
sh = gc.open_by_key(spreadsheet_key)
worksheet = sh.worksheet('products') #-> 0 - first sheet, 1 - second sheet etc. 
products = pd.DataFrame(worksheet.get_all_records())
products[['UnitePrice']] = products[['UnitPrice']].astype(float)
products #sheet 2

    Id_products           ProductName  ...  IsDiscontinued  UnitePrice
0             1        Gạch tàu 30x30  ...               0        70.0
1             2    gạch lát nền 40x40  ...               0        72.0
2             3    gạch men 200x200mm  ...               0        90.0
3             4    gạch men 250x250mm  ...               0        95.0
4             5    gạch men 300x300mm  ...               1        80.0
..          ...                   ...  ...             ...         ...
72           73  Sơn Jotun Jotashield  ...               0      5994.0
73           74     Sơn Jotun Essence  ...               0      1143.0
74           75     Sơn Jotun Essence  ...               0      3643.0
75           76    Sơn Jotun Majestic  ...               0      1446.0
76           77    Sơn Jotun Majestic  ...               0      4190.0

[77 rows x 7 columns]

In [6]:
spreadsheet_key = '1kfakqgkjVmyHlgZfFIqitLi-A3lUr4KtZJUTwpXqV54' # input SPREADSHEET_KEY HERE
sh = gc.open_by_key(spreadsheet_key)
worksheet = sh.worksheet('orders') #-> 0 - first sheet, 1 - second sheet etc. 
orders = pd.DataFrame(worksheet.get_all_records())
orders[['TotalAmount']] = orders[['TotalAmount']].astype(float)
orders['OrderDate'] = pd.to_datetime(orders['OrderDate'])
orders #sheet 3

     Id_orders  OrderDate  OrderNumber  CustomersId  TotalAmount
0            1 2012-04-07       542378           85        440.0
1            2 2012-05-07       542379           79       1863.0
2            3 2012-08-07       542380           34       1813.0
3            4 2012-08-07       542381           84        671.0
4            5 2012-09-07       542382           76       3730.0
..         ...        ...          ...          ...          ...
825        826 2014-05-05       543203           58        300.0
826        827 2014-06-05       543204           73        244.0
827        828 2014-06-05       543205           68        586.0
828        829 2014-06-05       543206            9       1057.0
829        830 2014-06-05       543207           65       1375.0

[830 rows x 5 columns]

In [7]:
spreadsheet_key = '1kfakqgkjVmyHlgZfFIqitLi-A3lUr4KtZJUTwpXqV54' # input SPREADSHEET_KEY HERE
sh = gc.open_by_key(spreadsheet_key)
worksheet = sh.worksheet('orderitems') #-> 0 - first sheet, 1 - second sheet etc. 
orderitems = pd.DataFrame(worksheet.get_all_records())
orderitems #sheet 4

      Id_items  OrderId  ProductId  UnitPrice  Quantity
0            1        1         11        150        12
1            2        1         42       1439        10
2            3        1         72       2033         5
3            4        2         14         85         9
4            5        2         51       4329        40
...        ...      ...        ...        ...       ...
2150      2151      830         64        560         2
2151      2152      830         66       4550         1
2152      2153      830         73       5994         2
2153      2154      830         75       3643         4
2154      2155      830         77       4190         2

[2155 rows x 5 columns]

In [8]:
spreadsheet_key = '1kfakqgkjVmyHlgZfFIqitLi-A3lUr4KtZJUTwpXqV54' # input SPREADSHEET_KEY HERE
sh = gc.open_by_key(spreadsheet_key)
worksheet = sh.worksheet('suppliers') #-> 0 - first sheet, 1 - second sheet etc. 
suppliers = pd.DataFrame(worksheet.get_all_records())
suppliers

    Id_suppliers  ...            Phone
0              1  ...   (171) 555-2222
1              2  ...   (100) 555-4822
2              3  ...   (313) 555-5735
3              4  ...   (03) 3555-5011
4              5  ...   (98) 598 76 54
5              6  ...    (06) 431-7877
6              7  ...    (03) 444-2343
7              8  ...   (161) 555-4448
8              9  ...    031-987 65 43
9             10  ...    (11) 555 4640
10            11  ...    (010) 9984510
11            12  ...     (069) 992755
12            13  ...     (04721) 8713
13            14  ...     (0544) 60323
14            15  ...     (0) 2-953010
15            16  ...   (503) 555-9931
16            17  ...     08-123 45 67
17            18  ...  (1) 03.83.00.68
18            19  ...   (617) 555-3267
19            20  ...         555-8787
20            21  ...        943844108
21            22  ...     (12345) 1212
22            23  ...      (953) 10956

[23 rows x 7 columns]

In [9]:
!pip install duckdb

Collecting duckdb
  Downloading https://files.pythonhosted.org/packages/25/01/93cdb9eaa41b709287221cb9af125e70b855c30d5e5031696184fa85b705/duckdb-0.2.7-cp37-cp37m-manylinux2010_x86_64.whl (9.0MB)
     |████████████████████████████████| 9.0MB 5.2MB/s
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.7/dist-packages (from duckdb) (1.19.5)
Installing collected packages: duckdb
Successfully installed duckdb-0.2.7

In [10]:
# to install: pip install duckdb
import pandas as pd
import duckdb

In [11]:
con = duckdb.connect(database=':memory:', read_only=False) # -> Tạo DB connection
# create a table
con.execute("SELECT * FROM customers LIMIT 10").fetch_df()

   CustomersId    Firstname  Lastname     Country      City           Phone
0            1        Maria    Anders  Bình Dương     Dĩ An     030-0074321
1            2          Ana  Trujillo  Bình Dương     Dĩ An    (5) 555-4729
2            3      Antonio    Moreno  Bình Dương     Dĩ An    (5) 555-3932
3            4       Thomas     Hardy  Bình Dương     Dĩ An  (171) 555-7788
4            5    Christina  Berglund  Bình Dương     Dĩ An   0921-12 34 65
5            6        Hanna      Moos  Bình Dương     Dĩ An      0621-08460
6            7  Fradacrique   Citeaux  Bình Dương     Dĩ An     88.60.15.31
7            8      MartÃ­n    Sommer  Bình Dương     Dĩ An  (91) 555 22 82
8            9     Laurence   Lebihan  Bình Dương  Thuận An     91.24.45.40
9           10    Elizabeth   Lincoln  Bình Dương  Thuận An  (604) 555-4729

In [12]:
#Liệt kê khoảng 10, 20 khách hàng có đơn đặt hàng nhiều nhất 
#WHERE WHERE MONTH(o.OrderDate)=3 AND YEAR(o.OrderDate)=2014
SQL = '''
  SELECT 
    CONCAT(c.Firstname,' ',c.Lastname) AS customer_name,
    c.Country, 
    c.City, 
    COUNT(o.Id_orders) AS count_orders 
  FROM customers c LEFT JOIN orders o ON c.CustomersId=o.CustomersId
  GROUP BY customer_name, c.Country, c.City
  ORDER BY count_orders DESC
  LIMIT 20
'''
con.execute(SQL).fetch_df()

         customer_name     Country         City  count_orders
0       Jose Pavarotti  Bình Dương        Dĩ An            31
1        Roland Mendel  Bình Dương        Dĩ An            30
2          Horst Kloss  Bình Dương    Lái Thiêu            28
3        Maria Larsson  Bình Dương  Thủ Dầu Một            19
4     Patricia McKenna  Bình Dương     Thuận An            19
5   Christina Berglund  Bình Dương        Dĩ An            18
6    Carlos Hernaindez  Bình Dương     Thuận An            18
7         Paula Wilson  Bình Dương        Dĩ An            18
8     Laurence Lebihan  Bình Dương     Thuận An            17
9        Peter Franken  Bình Dương  Thủ Dầu Một            15
10    Pirkko Koskitalo  Bình Dương        Dĩ An            15
11      Renate Messner  Bình Dương  Thủ Dầu Một            15
12       Philip Cramer  Bình Dương        Dĩ An            14
13    Carlos Gonzailez  Bình Dương  Thủ Dầu Một            14
14      Annette Roulet  Bình Dương     Thuận An            14
15      Karl Jablonski  Bình Dương        Dĩ An            14
16   Elizabeth Lincoln  Bình Dương     Thuận An            14
17        Mario Pontes  Bình Dương     Thuận An            14
18      Lacia Carvalho  Bình Dương    Lái Thiêu            13
19        Thomas Hardy  Bình Dương        Dĩ An            13

In [13]:
#Liệt kê 20 đơn đặt hàng có doanh thu cao nhất từ trước đến nay 
SQL = '''
SELECT * 
FROM orders
WHERE Id_orders IN
(SELECT orderid FROM orderitems WHERE ProductId IN 
 (SELECT Id_products FROM products))
ORDER BY TotalAmount DESC
LIMIT 20
'''
con.execute(SQL).fetch_df()

    Id_orders  OrderDate  OrderNumber  CustomersId  TotalAmount
0         618 2014-02-02       542995           63      17250.0
1         783 2014-04-17       543160           71      16322.0
2         734 2014-03-27       543111           34      15810.0
3         125 2012-04-12       542502           62      12281.0
4         177 2013-01-23       542554           51      11493.0
5         570 2014-06-01       542947           39      11491.0
6         642 2014-02-16       543019           65      11380.0
7         170 2013-01-16       542547           73      11283.0
8         650 2014-02-19       543027           37      10835.0
9         106 2012-11-13       542483           59      10742.0
10        268 2013-04-23       542645           63      10589.0
11        232 2013-03-19       542609           65      10496.0
12        293 2013-05-19       542670           63      10192.0
13        444 2013-03-10       542821           63      10165.0
14        785 2014-04-17       543162           89       8903.0
15        569 2014-06-01       542946           32       8891.0
16        267 2013-04-22       542644           20       8623.0
17        665 2014-02-26       543042           37       8267.0
18        113 2012-11-22       542490            7       7390.0
19        529 2013-12-15       542906           20       6985.0

In [14]:
#Thống kê products có số lượng đặt hàng nhiều nhất trong quý hoặc trong năm, gồm các thông tin trong bảng như : id, productname, sum(Quantity), AVG(Unitprice)
SQL = '''
SELECT p.Id_products, p.ProductName, SUM(i.Quantity) AS sum_quantity, AVG(p.UnitPrice) AS avg_unitprice
FROM products p LEFT JOIN orderitems i ON p.Id_products=i.ProductId LEFT JOIN orders o ON o.Id_orders=i.OrderId
WHERE p.IsDiscontinued=0
GROUP BY p.Id_products,p.ProductName
ORDER BY sum_quantity DESC
'''
con.execute(SQL).fetch_df()

    Id_products                 ProductName  sum_quantity  avg_unitprice
0            60             Sơn EcoPlus A66        1577.0          980.0
1            59               Sơn Dulux Y65        1496.0         4215.0
2            31         Sơn chống gỉ loại 1        1397.0         1120.0
3            56               Sơn Dulux Y65        1263.0          225.0
4            16            Xi măng Nghi Sơn        1158.0           75.0
..          ...                         ...           ...            ...
65           50               Sơn Dulux 79A         235.0         3760.0
66           67             Sơn EcoPlus A96         184.0         5110.0
67           48               Sơn Dulux 79A         138.0         2980.0
68           37              Sơn TOA loại 2         125.0         2153.0
69           15  Gạch bông 300 x 300 x16 mm         122.0           95.0

[70 rows x 4 columns]

In [15]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

In [16]:
df=pd.merge(customers, orders, how='left', on='CustomersId')

In [17]:
df1=df.groupby('Firstname')['CustomersId'].count().sort_values(ascending=False).head(10)
df1

Firstname
Carlos       32
Jose         31
Roland       30
Horst        28
Paula        27
Maria        25
Patricia     19
Christina    18
Elizabeth    17
Laurence     17
Name: CustomersId, dtype: int64

In [18]:
SQL1 = '''
SELECT 
  YEAR(OrderDate) AS year_order, 
  COUNT(*) AS count_order, 
  SUM(totalamount) AS sum_totalamount
FROM orders
WHERE YEAR(OrderDate) BETWEEN 2012 AND 2014
GROUP BY YEAR(orderdate)
ORDER BY YEAR(orderdate)
'''
con.execute(SQL1).fetch_df()

   year_order  count_order  sum_totalamount
0        2012          152         226302.0
1        2013          408         658409.0
2        2014          270         469790.0

In [21]:
orders['year'] = pd.DatetimeIndex(orders['OrderDate']).year
orders.groupby(['year']).sum({"TotalAmount": [np.size, np.mean]})
orders

     Id_orders  OrderDate  OrderNumber  CustomersId  TotalAmount  year
0            1 2012-04-07       542378           85        440.0  2012
1            2 2012-05-07       542379           79       1863.0  2012
2            3 2012-08-07       542380           34       1813.0  2012
3            4 2012-08-07       542381           84        671.0  2012
4            5 2012-09-07       542382           76       3730.0  2012
..         ...        ...          ...          ...          ...   ...
825        826 2014-05-05       543203           58        300.0  2014
826        827 2014-06-05       543204           73        244.0  2014
827        828 2014-06-05       543205           68        586.0  2014
828        829 2014-06-05       543206            9       1057.0  2014
829        830 2014-06-05       543207           65       1375.0  2014

[830 rows x 6 columns]

In [27]:
list_of_years = orders['OrderDate']
df = pd.DataFrame({'OrderDate': pd.to_datetime(list_of_years)})
L = ['year']
df = df.join(pd.concat((getattr(df['OrderDate'].dt, i).rename(i) for i in L), axis=1))
df

     OrderDate  year
0   2012-04-07  2012
1   2012-05-07  2012
2   2012-08-07  2012
3   2012-08-07  2012
4   2012-09-07  2012
..         ...   ...
825 2014-05-05  2014
826 2014-06-05  2014
827 2014-06-05  2014
828 2014-06-05  2014
829 2014-06-05  2014

[830 rows x 2 columns]

In [22]:
dff=orders.groupby('year')["TotalAmount"].sum({"OrderNumber": np.size})
df1=pd.DataFrame(dff)
df1

      TotalAmount
year
2012     226302.0
2013     658409.0
2014     469790.0

In [23]:
dff2 = orders.groupby('year')['OrderNumber'].count() 
df2=pd.DataFrame(dff2)
df2

      OrderNumber
year
2012          152
2013          408
2014          270

In [24]:
df3=pd.merge(df1, df2, on='year')
df3

      TotalAmount  OrderNumber
year
2012     226302.0          152
2013     658409.0          408
2014     469790.0          270

In [ ]:
plt.figure(figsize=(10,6)) # Your code here
plt.title("Average score for racing games by platform")
sns.barplot(x=dff['year'], y=dff.index)
plt.ylabel("Average score")

In [ ]:
orders.groupby(["year"]).sum({"TotalAmount": [np.size, np.mean]})

In [28]:
!pip install streamlit

Collecting streamlit
  Downloading https://files.pythonhosted.org/packages/d7/0c/469ee9160ad7bc064eb498fa95aefd4e96b593ce0d53fb07ff217badff47/streamlit-0.83.0-py2.py3-none-any.whl (7.7MB)
     |████████████████████████████████| 7.8MB 5.2MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.23.0)
Collecting base58
  Downloading https://files.pythonhosted.org/packages/b8/a1/d9f565e9910c09fd325dc638765e8843a19fa696275c16cc08cf3b0a3c25/base58-2.1.0-py3-none-any.whl
Collecting blinker
  Downloading https://files.pythonhosted.org/packages/1b/51/e2a9f3b757eb802f61dc1f2b09c8c99f6eb01cf06416c0671253536517b6/blinker-1.4.tar.gz (111kB)
     |████████████████████████████████| 112kB 49.1MB/s
Requirement already satisfied: altair>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.1.0)
Requirement already satisfied: toml in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.10.2)
Collecting watchdog; platform_system != "Darwin"
  Downloading https://files.pythonhosted.org/packages/6b/d1/b0a1e69af06d2f6f47a11238ca115667d858cbb30baf6b6df03f1b874163/watchdog-2.1.3-py3-none-manylinux2014_x86_64.whl (75kB)
     |████████████████████████████████| 81kB 9.7MB/s
Requirement already satisfied: click<8.0,>=7.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (7.1.2)
Collecting pydeck>=0.1.dev5
  Downloading https://files.pythonhosted.org/packages/d6/bc/f0e44828e4290367c869591d50d3671a4d0ee94926da6cb734b7b200308c/pydeck-0.6.2-py2.py3-none-any.whl (4.2MB)
     |████████████████████████████████| 4.2MB 43.0MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from streamlit) (20.9)
Requirement already satisfied: tornado>=5.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (5.1.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.19.5)
Collecting gitpython
  Downloading https://files.pythonhosted.org/packages/bc/91/b38c4fabb6e5092ab23492ded4f318ab7299b19263272b703478038c0fbc/GitPython-3.1.18-py3-none-any.whl (170kB)
     |████████████████████████████████| 174kB 43.9MB/s
Collecting validators
  Downloading https://files.pythonhosted.org/packages/db/2f/7fed3ee94ad665ad2c1de87f858f10a7785251ff75b4fd47987888d07ef1/validators-0.18.2-py3-none-any.whl
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.8.1)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.5.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (7.1.2)
Requirement already satisfied: pyarrow; python_version < "3.9" in /usr/local/lib/python3.7/dist-packages (from streamlit) (3.0.0)
Requirement already satisfied: protobuf!=3.11,>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (3.12.4)
Requirement already satisfied: astor in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.8.1)
Requirement already satisfied: pandas>=0.21.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.1.5)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.2.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (1.24.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (0.11.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: jsonschema in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (2.6.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (0.3)
Collecting ipykernel>=5.1.2; python_version >= "3.4"
  Downloading https://files.pythonhosted.org/packages/90/6d/6c8fe4b658f77947d4244ce81f60230c4c8d1dc1a21ae83e63b269339178/ipykernel-5.5.5-py3-none-any.whl (120kB)
     |████████████████████████████████| 122kB 38.4MB/s
Requirement already satisfied: traitlets>=4.3.2 in /usr/local/lib/python3.7/dist-packages (from pydeck>=0.1.dev5->streamlit) (5.0.5)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from pydeck>=0.1.dev5->streamlit) (7.6.3)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->streamlit) (2.4.7)
Requirement already satisfied: typing-extensions>=3.7.4.0; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from gitpython->streamlit) (3.7.4.3)
Collecting gitdb<5,>=4.0.1
  Downloading https://files.pythonhosted.org/packages/ea/e8/f414d1a4f0bbc668ed441f74f44c116d9816833a48bf81d22b697090dba8/gitdb-4.0.7-py3-none-any.whl (63kB)
     |████████████████████████████████| 71kB 7.9MB/s
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from validators->streamlit) (4.4.2)
Requirement already satisfied: six>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from validators->streamlit) (1.15.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from tzlocal->streamlit) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf!=3.11,>=3.6.0->streamlit) (57.0.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->altair>=3.2.0->streamlit) (2.0.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2; python_version >= "3.4"->pydeck>=0.1.dev5->streamlit) (5.3.5)
Requirement already satisfied: ipython>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2; python_version >= "3.4"->pydeck>=0.1.dev5->streamlit) (5.5.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.3.2->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.0.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.1.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (3.5.1)
Collecting smmap<5,>=3.0.1
  Downloading https://files.pythonhosted.org/packages/68/ee/d540eb5e5996eb81c26ceffac6ee49041d473bc5125f2aa995cf51ec1cf1/smmap-4.0.0-py2.py3-none-any.whl
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=5.1.2; python_version >= "3.4"->pydeck>=0.1.dev5->streamlit) (22.1.0)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=5.1.2; python_version >= "3.4"->pydeck>=0.1.dev5->streamlit) (4.7.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=5.0.0->ipykernel>=5.1.2; python_version >= "3.4"->pydeck>=0.1.dev5->streamlit) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=5.0.0->ipykernel>=5.1.2; python_version >= "3.4"->pydeck>=0.1.dev5->streamlit) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=5.0.0->ipykernel>=5.1.2; python_version >= "3.4"->pydeck>=0.1.dev5->streamlit) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython>=5.0.0->ipykernel>=5.1.2; python_version >= "3.4"->pydeck>=0.1.dev5->streamlit) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=5.0.0->ipykernel>=5.1.2; python_version >= "3.4"->pydeck>=0.1.dev5->streamlit) (2.6.1)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.3.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=5.0.0->ipykernel>=5.1.2; python_version >= "3.4"->pydeck>=0.1.dev5->streamlit) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython>=5.0.0->ipykernel>=5.1.2; python_version >= "3.4"->pydeck>=0.1.dev5->streamlit) (0.7.0)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.5.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.10.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.7.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.4.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (3.3.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.1)
Building wheels for collected packages: blinker
  Building wheel for blinker (setup.py) ... done
  Created wheel for blinker: filename=blinker-1.4-cp37-none-any.whl size=13476 sha256=b6426e5f9c1cfe570fff0129a564faa8c6b135517b232a53d388830ce77f0d32
  Stored in directory: /root/.cache/pip/wheels/92/a0/00/8690a57883956a301d91cf4ec999cc0b258b01e3f548f86e89
Successfully built blinker
ERROR: google-colab 1.0.0 has requirement ipykernel~=4.10, but you'll have ipykernel 5.5.5 which is incompatible.
Installing collected packages: base58, blinker, watchdog, ipykernel, pydeck, smmap, gitdb, gitpython, validators, streamlit
  Found existing installation: ipykernel 4.10.1
    Uninstalling ipykernel-4.10.1:
      Successfully uninstalled ipykernel-4.10.1
Successfully installed base58-2.1.0 blinker-1.4 gitdb-4.0.7 gitpython-3.1.18 ipykernel-5.5.5 pydeck-0.6.2 smmap-4.0.0 streamlit-0.83.0 validators-0.18.2 watchdog-2.1.3

In [29]:
!pip install ipython

Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython) (4.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython) (2.6.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython) (0.8.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython) (5.0.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython) (1.0.18)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython) (57.0.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython) (1.15.0)

In [31]:
!pip install pyngrok

Collecting pyngrok
  Downloading https://files.pythonhosted.org/packages/6b/4e/a2fe095bbe17cf26424c4abcd22a0490e22d01cc628f25af5e220ddbf6f0/pyngrok-5.0.5.tar.gz (745kB)
     |████████████████████████████████| 747kB 6.7MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyngrok) (3.13)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-5.0.5-cp37-none-any.whl size=19262 sha256=df6d22a2c10940586e521c2a6ab95c63daa2bbcfb054279277c7beccf0ce186f
  Stored in directory: /root/.cache/pip/wheels/0c/13/64/5ebbcc22eaf53fdf5766b397c1fb17c83f5775fdccf0ea1b88
Successfully built pyngrok
Installing collected packages: pyngrok
Successfully installed pyngrok-5.0.5

In [32]:
!pip install ipykernel

Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (5.5.5)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel) (5.0.5)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipykernel) (5.1.1)
Requirement already satisfied: ipython>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel) (5.5.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel) (5.3.5)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.1.0->ipykernel) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=5.0.0->ipykernel) (4.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=5.0.0->ipykernel) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=5.0.0->ipykernel) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython>=5.0.0->ipykernel) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=5.0.0->ipykernel) (57.0.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=5.0.0->ipykernel) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=5.0.0->ipykernel) (0.8.1)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel) (4.7.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel) (2.8.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel) (22.1.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython>=5.0.0->ipykernel) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=5.0.0->ipykernel) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=5.0.0->ipykernel) (1.15.0)